#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.mainApp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}

.mainApp h1 {
  font-size: x-large;
  font-family: serif;
  border-bottom: 1px solid rgb(182, 21, 21);
  color: rgba(0, 0, 0, 0.466);
}
